*{
  margin: 0;
}
body{
  font-size: 100%;
}
body,html{
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:red;

}
.header{
  background-color: green;
  width: 100%;
  float: left;
}
.logo{
  color:white;
  padding: 40px 40px 40px 80px;
  float: left;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
}
.item_link{
  float: right;

}
ul{
  list-style-type: none;
  padding: 50px;
}
li{
  display: inline;
  padding: 30px;
}
a{
  text-decoration: none;
  font-size: 0.9em;
  color: #ffffff;
}
.content{
  background-color: blue;
}
.main_content{
  width: 40%;
  background-color: burlywood;
}
p{
  text-align: justify;

}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
  p:after{
    content:".";
    display: inline-block;
    width:100%;
    overflow:hidden;
    height:0;
  }
.content_three{
  color: #ffffff;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 3em;
  letter-spacing: 0.09em;


}
.link_one{
  margin-top: 50px;
  margin-left: 50%;
  background-color: purple;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
}
#arrow_down{
  vertical-align: middle;
  color: yellow;
  font-size: 16px;
  padding: 15px 15px 15px 15px;
  border: 1px solid white;
  text-align: center;

}